[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "Yoctosub-module"]
	path = Yoctosub-module
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
